<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jonjomckay.binks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        tools:node="merge" />
</manifest>
